@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
       url("../fonts/Roboto-Regular.woff") format("woff");

}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
       url("../fonts/Roboto-Medium.woff") format("woff");

}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  src:
  local("Roboto"),
  local("Roboto"),
   url("../fonts/Roboto-Bold.woff2") format("woff2"),
       url("../fonts/Roboto-Bold.woff") format("woff");
}


.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);

  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-position: top center;

  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
      align-content: start;
}

/*Global*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;

  width: 240px;
  min-height: 50px;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;

  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  background-color: var(--basic-red);

  border-radius: 3px;
}

.btn:hover {
  background-color: var(--dark-red);
}

.btn:active {
  color: var(--opacity-white);

  background-color: var(--dark-extra-red);
  -webkit-box-shadow: inset 0 3px 0 var(--shadow-button-black);
          box-shadow: inset 0 3px 0 var(--shadow-button-black);
}

/*Color*/

:root {
  --basic-black: #000000;
  --btn-filter-opacity-black: rgba(0,0,0, 0.3);
  --light-black: #283136;
  --basic-white: #ffffff;
  --opacity-white: rgba(255,255,255, 0.3);
  --basic-brown: #666666;
  --dark-brown: #4d4d4d;
  --dark-brown-catalog: rgba(77, 77, 77, 0.12);
  --basic-grey: #a6a6a6;
  --light-grey: #e1e1e1;
  --light-extra-grey: #eeeeee;
  --light-grey-border-catalog: #e5e5e5;
  --shadow-button-black: rgba(0,1,1, 0.1);
  --shadow-modal-black: rgba(0,1,1, 0.75);
  --basic-red: #fb565a;
  --dark-red: #e74246;
  --dark-extra-red: #d7373b;
  --basic-green: #00ca74;
  --dark-green: #00bc6c;
  --dark-extra-green: #00aa62;
  --basic-yellow: #efc84a;
  --dark-yellow: #eab534;
  --dark-extra-yellow: #e5a722;
  --dark-extra-black: #444444;
  --border-modal-form-grey: #d7dcde;
  --border-modal-form-dark-grey: #b4b9bb;
  --bg-filter-btn-dark-grey: #dfdfdf;
  --bg-filter-btn-extra-grey: #d5d5d5;
  --border-pagination-extra-dark-grey: #dbdbdb;
  --arrow-bg-arrow-black: #231f20;
  --btn-slider-active-brown: #c1c1c1;
  --basic-transparent: transparent;
}

/*grid*/

.page {
  height: 100%;
}

/*Header*/

.main-header {
  background-color: var(--light-extra-grey);
}

/*navigation*/

.main-navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-columns: min-content 1fr min-content;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  min-height: 72px;
  padding-top: 30px;
}

.main-navigation .logo-image {
  display: block;
  width: 160px;
  height: 65px;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 450px;
  margin: 0;
  padding: 0;
  margin-left: 201px;
  padding-top: 26px;

  list-style: none;
}

.main-navigation li {
  margin-right: 47px;
}

.main-navigation li:nth-child(4n) {
  margin-right: 0;
}

.main-navigation a {
  color: var(--basic-black);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;

}

.list-menu a,
.main-navigation .cart {
  padding: 8px 0;
  border-bottom: 2px solid var(--basic-transparent);

}

.main-navigation a:hover {
  color: var(--basic-red);
}

.main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-navigation a:focus {
  color: var(--basic-black);
}

.main-navigation .active-page {
  border-bottom: 2px solid var(--basic-red);
}

.main-navigation .active-page:hover,
.main-navigation .active-page:active,
.main-navigation .active-page:focus {
  color: var(--basic-black);

  opacity: 1;
}

.main-navigation .wrapper-cart {
  position: relative;

  padding-top: 27px;
}

.main-navigation .wrapper-cart::before {
  content: "";

  position: absolute;
  top: 35px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.2;
}

.main-navigation .cart {
  padding-left: 40px;
}

/*Логотип*/

.main-navigation .logo-active,
.main-navigation .logo-active:hover,
.main-navigation .logo-active:active,
.main-navigation .logo-active:focus {
  opacity: 1;
}

.main-navigation .main-logo:hover {
  opacity: 0.8;
}

.main-navigation .main-logo:active {
  opacity: 0.3;
}

/*main*/

/*slider*/

.Advertising-slider {
margin-bottom: 80px;

  background-color: var(--light-extra-grey);
}

.slider_images {
  display: -ms-grid;
  display: grid;

  position: relative;
  top: 0;

  min-height: 431px;

  background-position: 90% 19px;
  background-repeat: no-repeat;
}

.slider_image-0 {
  background-image: url("../img/slide1.png");
}

.slider_image-1 {
  background-image: url("../img/slide2.png");
  background-position: 96% 19px;
}

.slider_image-2 {
  background-image: url("../img/slide3.png");
  background-position: 95% 19px;
}

.slide-item {
  width: 380px;
  padding-top: 78px;
  padding-bottom: 60px;
}

.slide-item:nth-child(2) {
  width: 520px;
}

.slide-item:nth-child(3) {
  width: 410px;
}

.slide-item:nth-child(2) .slider-text {
  width: 420px;
}

.slide-item:nth-child(3) .slider-text {
  width: 350px;
}

.slide-item {
  display: none;
}

.slide-active {
  display: block;
}

.Advertising-slider p {
  margin: 0;
}

.Advertising-slider .slogan {
  margin-bottom: 26px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.Advertising-slider .slider-text {
  margin-bottom: 39px;
}

.slide-item .btn {
  -ms-grid-column-align: start;
      justify-self: start;
}

.slider-controls {
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;

  position: absolute;
  bottom: 96px;
  left: 50%;

  margin-left: -44px;
}

.slider-controls button {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 17px;

  background-color: var(--basic-white);

  border: none;
  border-radius: 50%;
}

.slider-controls button:last-child {
  margin-right: 0;
}

.slider-controls .slider-btn-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  margin-top: 4px;
  margin-left: -25%;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  border: 2px solid var(--btn-slider-active-brown);
}

/*Order*/

.order {
  margin-bottom: 80px;
}

.order ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 100px 300px 100px 300px;
  grid-template-columns: repeat(3, 300px);
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.order li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

.order h3 {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.order p {
  width: 240px;
  margin-bottom: 33px;
}

.order img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.order .btn {
  width: 160px;
}

.order .green-btn {
  background-color: var(--basic-green);
}

.order .green-btn:hover {
  background-color: var(--dark-green);
}

.order .green-btn:active {
  background-color: var(--dark-extra-green);
}

.order .yellow-btn {
  background-color: var(--basic-yellow);
}

.order .yellow-btn:hover {
  background-color: var(--dark-yellow);
}

.order .yellow-btn:active {
  background-color: var(--dark-extra-yellow);
}

/*info*/

.columns_info-advantages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 140px auto;
  grid-template-columns: 1fr auto;
  -webkit-column-gap: 140px;
     -moz-column-gap: 140px;
          column-gap: 140px;

  min-height: 444px;
  margin-bottom: 40px;
  padding: 0;
  padding-top: 40px;

  border-top: 2px solid var(--light-extra-grey);
}

.info {
  width: 660px;
  padding-top: 34px;
}

.info .slogan-info {
  margin: 0;
  margin-bottom: 34px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.info p:nth-child(3) {
  margin-bottom: 38px;
}

.info h3 {
  margin: 0;
  margin-bottom: 24px;

  font-size: 16.2px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

}

.info ul {
  margin: 0;
  padding: 0;
  padding-left: 36px;

  list-style: none;
}

.info li {
  position: relative;
  margin-bottom: 24px;
}

.info li::before {
  content: "";

  position: absolute;

  top: 11px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: var(--basic-red);
}

/*advantages*/

.advantages {
  -ms-grid-column-align: end;
      justify-self: end;
  width: 360px;
}

.advantages img {
  margin-bottom: 29px;
}

.advantages p {
  margin: 0;
  margin-bottom: 41px;
  padding-left: 17px;

  font-weight: 700;
  text-transform: uppercase;
}

.advantages dl {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  row-gap: 19px;

  width: 360px;
  margin: 0;
}

.advantages dt {

  width: 110px;
  line-height: 18px;
}

.advantages dd {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;

  width: 110px;
  margin: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-black);
}

.advantages sup {
  font-size: 60%;
}

/*logo-list*/

.logo-list {
  margin-bottom: 79px;
  padding: 0;

  border-top: 2px solid var(--light-extra-grey);
  border-bottom: 2px solid var(--light-extra-grey);
}

.logo-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  min-height: 182px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.logo-list li {
  position: relative;

  width: 280px;
}

.logo-list li:nth-child(2),
.logo-list li:nth-child(3) {
  width: 300px;
}


.logo-list li::after {
  content: "";

  position: absolute;
  top: 65px;
  right: -1px;

  width: 2px;
  height: 52px;

  background-color: var(--light-extra-grey);
}

.logo-list li:nth-child(4n) {
  margin-right: 0;
}

.logo-list li:nth-child(4n)::after {
  background-color: var(--basic-transparent);
}

.logo-list a {
  display: block;

  height: 182px;
  padding-top: 64px;
  padding-left: 30px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  opacity: 0.2;
}

.logo-list .logo-link_2 {
  padding-top: 47px;
  padding-left: 46px;
}

.logo-list .logo-link_3 {
  padding-top: 67px;
  padding-left: 58px;
}

.logo-list .logo-link_4 {
  padding-top: 54px;
  padding-left: 65px;
}

.logo-list a:hover {
  opacity: 1;
}

.logo-list a:active {
  opacity: 0.1;
}

/*page-inner*/

.page-inner {
  margin-bottom: 60px;
}

.page-inner .title-container {
  min-height: 139px;
  padding-top: 78px;
  padding-bottom: 24px;
  margin-bottom: 55px;

  background-color: var(--light-extra-grey);
}

.page-inner .main-title {
  font-size: 55px;
  line-height:55px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-black);
}

.grid-filter_catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 140px 1fr;
  grid-template-columns: auto 1fr;
  -webkit-column-gap: 140px;
     -moz-column-gap: 140px;
          column-gap: 140px;
}

/*filter*/

.filter {
  width: 260px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 41px;

  border: none;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 47px;
}

.filter legend {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  color: var(--basic-black);
  text-transform: uppercase;
}

.filter .complex-filter {
  margin-bottom: 55px;
}

.complex-filter legend {
  margin-bottom: 48px;

  font-size: 19px;

}

.complex-filter .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;

  width: 260px;
  height: 80px;
  padding-left: 28px;
  margin-bottom: 13px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  background-color: var(--light-extra-grey);

  border-radius: 3px;
}

.complex-filter .scale {
  width: 211px;
  height: 2px;

  background-color: var(--border-modal-form-grey);
}

.complex-filter .bar {
  height: 2px;
  margin-right: 33%;
  margin-left: 0%;

  background-color: var(--basic-green);
}

.complex-filter .ranges {
  width: 4px;
  height: 4px;

  position: absolute;
  top: 30px;

  background-color: var(--basic-grey);

  border: 8px solid var(--basic-white);
  border-radius: 50%;

  -webkit-box-shadow: 0 2px 0 0 var(--basic-grey);

          box-shadow: 0 2px 0 0 var(--basic-grey);

  cursor: pointer;
}

.complex-filter .ranges:hover {
  top: 26px;

  border: 12px solid var(--basic-white);;
}

.complex-filter .range-left {
  left: 20px;
  margin-left: 0%;
}

.complex-filter .range-right {
  right: 13px;
  margin-right: 26%;
}

.complex-filter .filter-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.complex-filter label {
  margin-right: 7px;

  line-height: 22px;
  text-transform: uppercase;
}

.complex-filter input {
  width: 80px;
  height: 38px;

  font: inherit;
  text-align: center;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  background-color: var(--light-extra-grey);

  border: none;
  border-radius: 3px;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter li {
  margin-bottom: 14px;
}

.filter li:last-child {
  margin-bottom: 0;
}

.filter label {
  position: relative;
  line-height: 20px;
}

.filter-radio label,
.filter-checkbox label {
  display: block;

  position: relative;

  padding-left: 36px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.product-radio-input + label::before,
.product-radio-input:checked + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 1px;

  width: 25px;
  height: 25px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  border: 4px solid var(--dark-brown);
  border-radius: 50%;

  opacity: 0.4;
}

.product-radio-input:checked + label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 9px;

  width: 9px;
  height: 9px;

  background-color: var(--dark-brown);
  border-radius: 50%;

  opacity: 0.4;
}

.product-checkbox-input + label::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 1px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.product-checkbox-input:checked + label::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 1px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}

.product-checkbox-input:checked + label::before,
.product-checkbox-input:hover:checked + label::before,
.product-checkbox-input:disabled:checked + label::before {
  opacity: 0;
}

.product-radio-input:hover + label::before,
.product-radio-input:hover:checked + label::before,
.product-radio-input:hover:checked + label::after,
.product-checkbox-input:hover:checked + label::after,
.product-checkbox-input:hover + label::before {
  opacity: 1;
}

.product-radio-input:disabled + label::before,
.product-radio-input:disabled:checked + label::before,
.product-radio-input:disabled:checked + label::after,
.product-checkbox-input:disabled:checked + label::after,
.product-checkbox-input:disabled + label::before {
  opacity: 0.2;
}

.product-radio-input:disabled + label,
.product-checkbox-input:disabled + label {
  opacity: 0.3;
}


.filter .btn {
  color: var(--basic-black);

  background-color: var(--light-extra-grey);
  border: none;
}

.filter-btn {
  width: 260px;
  padding: 0;
}

.filter .btn:hover {
  background-color: var(--bg-filter-btn-dark-grey);
}

.filter .btn:active {
  color: var(--btn-filter-opacity-black);
  background-color: var(--bg-filter-btn-extra-grey);
}

/*catalog*/

.grid-sort {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px auto 40px auto;
  grid-template-columns: 1fr auto auto;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;

  margin-bottom: 51px;
  padding-top: 2px;
}

.catalog h3 {
  margin: 0;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  text-transform: uppercase;
}

.catalog .sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 2px;

  list-style: none;
}

.catalog .sort-item {
  margin-right: 26px;
}

.catalog .sort-item:nth-child(3n) {
  margin-right: 0;
}

.sort-list a {
  display: block;

  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list a:active,
.sort-list a:focus {
  opacity: 1;
}

.sort-list .active,
.sort-list .active:hover {
  opacity: 1;
}

.catalog .sort-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0;
  padding: 0;

  width: 40px;

  list-style: none;
}

.sort-arrows a {
  display: block;
}

.sort-arrows a {
  fill: var(--arrow-bg-arrow-black);

  opacity: 0.2;
}

.sort-arrows a:hover {
  opacity: 0.6;
}

.sort-arrows a:focus {
  opacity: 1;
}

.sort-arrows .sort-arrow-active:hover,
.sort-arrows .sort-arrow-active {
  opacity: 1;
}

.catalog .catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 760px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;

  list-style: none;
}

.catalog .catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;

  position: relative;

  width: 360px;
  min-height: 616px;
  margin-bottom: 33px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  background-image: url("../img/circle.svg"),
                    url("../img/circle.svg"),
                    url("../img/circle.svg");
  background-position: 16px 13px,
                       39px 13px,
                       62px 13px;
  background-repeat: no-repeat;
  background-color: var(--dark-brown-catalog);

  border-radius: 3px;
}

.catalog .catalog-item:hover {
  background-color: var(--dark-brown);

  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);

          box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog .catalog-wrapper {

  border: 1px solid var(--light-grey-border-catalog);
}

.catalog-wrapper  img {
  vertical-align: bottom;
}

.catalog .catalog-item::after {
  left: 39px;
}

.catalog .catalog-wrapper::before {
  left: 62px;
}

.catalog .catalog-card {
  position: absolute;

  bottom: 0;

  width: 360px;
  max-height: 616px;
  min-height: 231px;
  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: var(--light-extra-grey);

  opacity: 0;
}

 .catalog-item:hover > .catalog-card {
  opacity: 1;
}

.catalog-card h3 {
  margin-left: -3px;
  margin-bottom: 16px;
}

.catalog-card .title {
  line-height: 30px;

  color: var(--basic-black);
}

.catalog-card .title:hover {
  color: var(--basic-red);
}

.catalog-card .title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-card p {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 30px;

  line-height: 18px;
  color: var(--basic-brown);

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.catalog-item:nth-of-type(1) p:nth-child(2) {
  padding: 0 16px;
}

.catalog-item:nth-of-type(3) p:nth-child(2) {
  padding: 0 21px;
}

.catalog-item:nth-of-type(4) p:nth-child(2) {
  padding: 0 21px;
}

.catalog-card .btn {
  width: 200px;

  color: var(--basic-white);
}


/*pagination*/

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination li {
  margin-right: 11px;
}

.pagination .pagination-btn {
  display: block;

  min-width: 50px;
  height: 50px;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;

  line-height: 18px;
  font-weight: 500;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  background-color: var(--light-extra-grey);

  border: none;
  border-radius: 3px;
}

.pagination .next {
  min-width: 260px;
}

.pagination .pagination-btn:hover {
  background-color: var(--bg-filter-btn-dark-grey);
}

.pagination .pagination-btn:active {
  color: var(--btn-filter-opacity-black);

  background-color: var(--bg-filter-btn-extra-grey);

  -webkit-box-shadow: inset 0 3px 0 var(--shadow-button-black);

          box-shadow: inset 0 3px 0 var(--shadow-button-black);
}

.pagination .active,
.pagination .active:hover,
.pagination .active:active {
  padding-top: 13px;

  background-color: var(--basic-white);

  border: 3px solid var(--bg-filter-btn-extra-grey);

  -webkit-box-shadow: none;

          box-shadow: none;
}

.pagination .active:active {
  color: var(--basic-black);
}

/*footer*/


/*map contacts*/

.map {
  position: relative;
  margin-bottom: 69px;
}

.map .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 361px 1fr;
  -ms-grid-columns: min-content 361px 1fr;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -webkit-column-gap: 361px;
     -moz-column-gap: 361px;
          column-gap: 361px;

  position: relative;

  min-height: 416px;
}

.map-image {
  position: absolute;

  left: 50%;

  margin-left: -720px;

  min-width: 1440px;

  z-index: 1;
}

.map iframe {
  position: absolute;
  top: 0;

  width: 100vw;

  z-index: 3;

  border: none;
}

.map .marker-image {
  padding-top: 90px;

  z-index: 2;
}

.contacts {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  width: 319px;
  min-height: 308px;
  padding-top: 30px;
  padding-left: 50px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  background-color: var(--basic-white);

  z-index: 4;
}

.contacts h3 {
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts p {
  width: 205px;
  margin: 0;
  margin-bottom: 18px;

  line-height: 18px;
  color: var(--basic-brown);
}

.contacts a:nth-child(3) {
  line-height: 18px;
  color: var(--basic-brown);
}

.contacts .phone {
  margin-bottom: 37px;
}

.contacts .btn {
  width: 219px;
}

.grid-social_discount {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-min-content 140px 1fr;
  -ms-grid-columns: min-content 140px 1fr;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  -webkit-column-gap: 140px;
     -moz-column-gap: 140px;
          column-gap: 140px;

  padding-bottom: 69px;
}

/*social*/

.social {
  width: 260px;
}

.social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item {
  margin-right: 13px;
  margin-bottom: 13px;
}

.social .social-item:nth-child(3n) {
  margin-right: 0;
}

.social-item a {
  position: relative;

  width: 78px;
  height: 78px;
  padding: 0;

  background-color: var(--light-grey);
  border-radius: 50%;
}

.social-item a::before {
  content: "";

  position: absolute;
  top: 32px;
  left: 27px;

  width: 26px;
  height: 15px;

  background-image: url("../img/vk-icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-item:nth-child(2) a::before {
  top: 28px;
  left: 33px;

  width: 12px;
  height: 22px;

  background-image: url("../img/fb-icon.png");
}

.social-item:nth-child(3) a::before {
  top: 30px;
  left: 29px;

  width: 21px;
  height: 21px;

  background-image: url("../img/insta-icon.png");
}

.social a:active::before {
  opacity: 0.3;
}

/*discount*/

.discount {
  padding-top: 6px;
}

.discount p {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.discount p:nth-child(1) {
  margin-bottom: 10px;
}

.discount p:nth-child(2) {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--dark-extra-black);
}

/*modal*/

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  position: fixed;

  top: 25%;
  bottom: auto;
  left: 0;
  right: 0;

  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 67px;

  width: 960px;
  min-height: 590px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  background-color: var(--basic-white);

  -webkit-box-shadow: 0 20px 40px 0px var(--shadow-modal-black);

          box-shadow: 0 20px 40px 0px var(--shadow-modal-black);

  z-index: 5;
}

.modal h2 {

  width: 760px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-between;

  width: 760px;

  margin: 0 auto;
}

.modal p {
  margin-bottom: 18px;
}

.modal p:nth-child(3) {
  margin-bottom: 44px;
}

.modal label {
  display: block;

  margin-bottom: 9px;

  line-height: 18px;
  color: var(--basic-black);
  font-weight: 700;
}

.modal input {
  width: 360px;
  height: 50px;
  padding: 3px 13px;
}

.modal textarea {
  width: 760px;
  min-height: 118px;
  padding: 11px 14px;

  resize: none;
}

.modal input,
.modal textarea {
  font: inherit;
  line-height: 18px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  border: 2px solid var(--border-modal-form-grey);
}

.modal input:hover,
.modal textarea:hover {
  border-color: var(--border-modal-form-dark-grey);
}

.modal input:focus,
.modal textarea:focus {
  border-color: var(--basic-black);
}

.modal input::-webkit-input-placeholder, .modal textarea::-webkit-input-placeholder {
  color: var(--dark-extra-black);
  opacity: 0.5;
}

.modal input::-moz-placeholder, .modal textarea::-moz-placeholder {
  color: var(--dark-extra-black);
  opacity: 0.5;
}

.modal input:-ms-input-placeholder, .modal textarea:-ms-input-placeholder {
  color: var(--dark-extra-black);
  opacity: 0.5;
}

.modal input::-ms-input-placeholder, .modal textarea::-ms-input-placeholder {
  color: var(--dark-extra-black);
  opacity: 0.5;
}

.modal input::placeholder,
.modal textarea::placeholder {
  color: var(--dark-extra-black);
  opacity: 0.5;
}

.modal input:focus::-webkit-input-placeholder, .modal textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

.modal input:focus::-moz-placeholder, .modal textarea:focus::-moz-placeholder {
  opacity: 1;
}

.modal input:focus:-ms-input-placeholder, .modal textarea:focus:-ms-input-placeholder {
  opacity: 1;
}

.modal input:focus::-ms-input-placeholder, .modal textarea:focus::-ms-input-placeholder {
  opacity: 1;
}

.modal input:focus::placeholder,
.modal textarea:focus::placeholder {
  opacity: 1;
}

.modal .btn {
  width: 260px;
  padding: 0;

  border: none;
}



.modal .close {
  position: absolute;
  top: 77px;
  right: 96px;

  width: 21px;
  height: 21px;
  padding: 0;

  background-color: transparent;
  border: none;

  opacity: 0.3;
}

.modal .close:hover {
  opacity: 1;
}

.modal .close:active {
  opacity: 0.1;
}

.modal {
  display: none;
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal-error {
  -webkit-animation-name: snake;
          animation-name: snake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes snake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes snake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


