@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
       url("../fonts/Roboto-Regular.woff") format("woff");

}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
       url("../fonts/Roboto-Medium.woff") format("woff");

}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  src:
  local("Roboto"),
  local("Roboto"),
   url("../fonts/Roboto-Bold.woff2") format("woff2"),
       url("../fonts/Roboto-Bold.woff") format("woff");
}


.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);

  background-color: var(--basic-white);
  background-image: url("../img/bg.png");
  background-repeat: repeat;
  background-position: top center;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*Global*/

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0 none;
  clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white);
  text-transform: uppercase;

  background-color: var(--basic-red);
}

.btn:hover {
  background-color: var(--dark-red);
}

.btn:active {
  color: var(--opacity-white);

  background-color: var(--dark-extra-red);
  box-shadow: inset 0 3px 0 var(--shadow-button-black);
}

/*Color*/

:root {
  --basic-black: #000000;
  --btn-filter-opacity-black: rgba(0,0,0, 0.3);
  --light-black: #283136;
  --basic-white: #ffffff;
  --opacity-white: rgba(255,255,255, 0.3);
  --basic-brown: #666666;
  --dark-brown: #4d4d4d;
  --basic-grey: #a6a6a6;
  --light-grey: #e1e1e1;
  --light-extra-grey: #eeeeee;
  --shadow-button-black: rgba(0,1,1, 0.1);
  --shadow-modal-black: rgba(0,1,1, 0.75);
  --basic-red: #fb565a;
  --dark-red: #e74246;
  --dark-extra-red: #d7373b;
  --basic-green: #00ca74;
  --dark-green: #00bc6c;
  --dark-extra-green: #00aa62;
  --basic-yellow: #efc84a;
  --dark-yellow: #eab534;
  --dark-extra-yellow: #e5a722;
  --dark-extra-black: #444444;
  --border-modal-form-grey: #d7dcde;
  --border-modal-form-dark-grey: #b4b9bb;
  --bg-filter-btn-dark-grey: #dfdfdf;
  --bg-filter-btn-extra-grey: #d5d5d5;
  --border-pagination-extra-dark-grey: #dbdbdb;
  --arrow-bg-arrow-black: #231f20;
  --btn-slider-active-brown: #c1c1c1;
}

/*grid*/

.page {
  height: 100%;
}

/*Header*/

.main-header {
  background-color: var(--light-extra-grey);
}

/*navigation*/

.main-navigation {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;

  min-height: 72px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-navigation .logo-image {
  display: block;
  width: 160px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  margin-left: 202px;

  list-style: none;
}

.main-navigation a {
  color: var(--basic-black);
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: var(--basic-red);
}

.main-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.main-navigation a:focus {
  color: var(--basic-black);
}

/*Логотип*/

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

/*main*/

/*slider*/

.Advertising-slider {
margin-bottom: 80px;

  background-color: var(--light-extra-grey);
}

.slider-grid {
  display: grid;

  min-height: 413px;

}

.slide-item {
  width: 380px;
}

.slide-item:nth-child(2) {
  width: 520px;
}

.slide-item:nth-child(3) {
  width: 410px;
}

.slide-item {
  display: none;
}

.slide-active {
  display: block;
}

.slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slide-item .btn {
  justify-self: start;
}

/*Order*/

.order {
  margin-bottom: 80px;
}

.order ul {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 100px;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

.order h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.order .green-btn {
  background-color: var(--basic-green);
}

.order .green-btn:hover {
  background-color: var(--dark-green);
}

.order .green-btn:active {
  background-color: var(--dark-extra-green);
}

.order .yellow-btn {
  background-color: var(--basic-yellow);
}

.order .yellow-btn:hover {
  background-color: var(--dark-yellow);
}

.order .yellow-btn:active {
  background-color: var(--dark-extra-yellow);
}

/*info*/

.columns_info-advantages {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 140px;

  min-height: 444px;
  margin-bottom: 72px;

  border-top: 2px solid var(--light-extra-grey);
}

.info {
  max-width: 660px;
}

.info .slogan-info {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.info h3 {
  font-weight: 700;
  text-transform: uppercase;

}

.info ul {
  list-style: none;
}

/*advantages*/

.advantages {
  justify-self: end;
  width: 360px;
}

.advantages p {
  font-weight: 700;
  text-transform: uppercase;
}

.advantages dd {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-black);
}

.advantages dt {
  line-height: 18px;
}

/*logo-list*/

.logo-list {
  margin-bottom: 80px;

  border-top: 2px solid var(--light-extra-grey);
  border-bottom: 2px solid var(--light-extra-grey);
}

.logo-list ul {
  list-style: none;
}

.logo-list a {
  opacity: 0.2;
}

/*page-inner*/

.page-inner h1 {
  align-self: center;
  min-height: 164px;
  margin: 0;
  margin-bottom: 60px;
  padding-bottom: 24px;

  font-size: 55px;
  line-height:55px;
  font-weight: 500;
  text-align: center;

  color: var(--basic-black);
  text-align: center;

  background-color: var(--light-extra-grey);
}

.grid-filter_catalog {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 140px;
}

/*filter*/

.filter {
  width: 260px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  color: var(--basic-black);
  text-transform: uppercase;
}

.filter legend:nth-child(1) {
  margin-bottom: 50px;
}

.filter ul {
  list-style: none;
}

.filter label {
  line-height: 20px;
}

.filter .btn {
  color: var(--basic-black);

  background-color: var(--light-extra-grey);
  border: none;
}

.filter .btn:hover {
  background-color: var(--bg-filter-btn-dark-grey);
}

.filter .btn:active {
  color: var(--btn-filter-opacity-black);
  background-color: var(--bg-filter-btn-extra-grey);
}

/*complex-filter*/

.complex-filter label {
  line-height: 22px;
  text-transform: uppercase;
}

.complex-filter input {
  font: inherit;
  border: none;
  background-color: var(--light-extra-grey);
  text-align: center;
}

/*catalog*/

.grid-sort {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 40px;
}

.catalog h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  text-transform: uppercase;
}

.sort-list a {
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list a:active,
.sort-list a:focus {
  opacity: 1;
}

.sort-list .active,
.sort-list .active:hover {
  opacity: 1;
}

.sort-list,
.catalog-list {
  list-style: none;
}

.catalog-list .btn {
  color: var(--basic-white);
}

.catalog-list .title {
  line-height: 30px;

  color: var(--basic-black);
}

.catalog-list .title:hover {
  color: var(--basic-red);
}

.catalog-list .title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-list p {
  line-height: 18px;
  color: var(--basic-brown);
}

/*pagination*/

.pagination {
  list-style: none;
}

.pagination .btn {
  color: var(--basic-black);

  background-color: var(--light-extra-grey);
  border: none;
}

.pagination .btn:hover {
  background-color: var(--bg-filter-btn-dark-grey);
}

.pagination .btn:active {
  color: var(--btn-filter-opacity-black);
  background-color: var(--bg-filter-btn-extra-grey);
}

.pagination .active {
  background-color: var(--basic-white);
}

/*footer*/



/*map contacts*/

.map {
  position: relative;

  margin-bottom: 69px;
}

.map-image {
  position: relative;

  display: block;

  margin: 0 auto;
}

.map .container {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  column-gap: 361px;

  position: absolute;
  top: 0;
  left: -50%;
  right: -50%;

  min-height: 416px;

}

.contacts {
  order: -1;
  align-self: center;

  width: 319px;
  min-height: 308px;

  background-color: var(--basic-white);
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.contacts p {
  line-height: 18px;
  color: var(--basic-brown);
}

.contacts a:nth-child(3) {
  line-height: 18px;
  color: var(--basic-brown);
}

.grid-social_discount {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 140px;

  padding-bottom: 69px;
}

/*social*/

.social {
  width: 260px;
}

.social ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social a {
  background-color: var(--light-grey);
}

/*discount*/

.discount p {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.discount p:nth-child(2) {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--dark-extra-black);
}

/*modal*/

.modal {
  width: 960px;
  margin-bottom: 40px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  background-color: var(--basic-white);

  box-shadow: 0 20px 40px 0px var(--shadow-modal-black);
}

.modal form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 760px;

  margin: 0 auto;
}

.modal h2 {
  grid-column: 1/-1;

  max-width: 760px;
  margin: 0 auto;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.modal p:nth-child(3) {
  grid-column: 1/-1;
}

.modal label {
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 700;
}

.modal input,
.modal textarea {
  font: inherit;
  line-height: 18px;
}

.modal input::placeholder,
.modal textarea::placeholder {
  color: var(--dark-extra-grey);
  opacity: 0.5;
}

.modal .btn {
  border: none;
}

